* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("copyrights.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 1% 2%;
}
nav img {
  width: 170px;
  border-radius: 10px;
}
div.nav-links {
  flex: 1;
  text-align: right;
}
div.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 4px 12px;
  position: relative;
}
div.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

button {
  color: white;
  text-decoration: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
  border: none;
  outline: none;
}

button.achordeon:hover {
  cursor: progress;
}

.liste {
  font-size: 10px;
  max-width: fit-content;
  height: 15px;
  display: none;
  transition: 0.3s;
}

p.machin {
  color: red;
  font-size: 14px;
  background-color: white;
}

p.machin:hover {
  background-color: rgb(31, 160, 235);
}

div.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: aqua;
  display: block;
  transition: 0.5s;
}

div.nav-links ul li:hover::after {
  width: 100%;
}

div.titre {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.titre h1 {
  font-size: 62px;
}

.titre p {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 14px;
  color: aqua;
}

.backgroundcolor {
  height: 100%;
}

section.presentation {
  text-align: center;
  padding: 50px 20px 30px;
}

section.presentation a {
  text-decoration: none;
  color: rgb(248, 0, 50);
}

section.presentation a:hover {
  text-decoration-line: underline;
}

.carte {
  width: 200px;
  height: 425px;
  border: 1px;
  margin: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: beige;
}

.carte.show {
  box-shadow: 0 16px 38px 0 rgb(255, 0, 0);
}

.carte:hover {
  box-shadow: 0 8px 16px 0 rgb(0, 217, 255);
}
.carte img {
  width: 200px;
  height: 200px;
}

.container {
  padding: 0px 10px;
  font-size: 10px;
}

a.link {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

a.link:hover {
  text-decoration-line: underline;
  color: skyblue;
}

a.link:visited:hover {
  color: rgba(243, 1, 49, 0.267);
}

section.cours {
  padding: 20px 100px;
}

footer {
  background-color: rgb(212, 202, 202);
  padding: 30px 15px;
  text-decoration: none;
}

.c {
  position: absolute;
  top: 263%;
  right: 43%;
}

.centre {
  position: absolute;
  top: 260%;
  right: 50%;
}

.droite {
  position: absolute;
  top: 260%;
  right: 7%;
}

.gauche {
  position: absolute;
  top: 260%;
  right: 85%;
}
